# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Model Weights
# =========================
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# IDE Settings
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini